# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.gitignore

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Data
data/*

# Don't cares
play_ground/*

# security
firebay-6554f-b111dd680d1a.json

# test pages
src/pages/backdoor.js
src/pages/backdoor

#cypress 
cypress/screenshots
